*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
html{
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/*------------------------------------------------------------*/
header{
	display: flex;
	width: 100%;
	height: 40px;
	background: linear-gradient(90deg, rgba(164,186,183,.8) 0%, rgba(210, 215, 223,.8) 29%, rgba(215, 208, 217,.8) 100%);
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 1;
}
/* a:hover{
	transition: width 1s, height 1s, transform 1s;
	transform: scale(1.1);
	font-weight: 500;
}
a:not(:hover){
	transition: width 1s, height 1s, transform 1s;
	transform: scale(1);
}*/
.menuNavbar{
	color: #0000019c;
	text-decoration: none;
	font-size: 25px;
	margin: 0 10px;
	font-weight: 700;
}

					/*  ESTA PARTE ES DE INDEX    */
.navbarInicioX{
	font-weight: 500;
}
					/*  ESTA PARTE ES DE PRODUCTOS    */
.navbarProductosX{
	font-weight: 500;
}
					/*  ESTA PARTE ES DE NOSOTROS    */
.navbarNosotrosX{
	font-weight: 500;
}

/*------------------------------------------------------------*/

main{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 50px 0;
}

					/*  ESTA PARTE ES DE INDEX    */

.loginSection{
	width: 200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



	
					/*  ESTA PARTE ES DE PRODUCTOS    */
.productos{
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 29%, rgba(255,249,249,1) 100%);
	height: auto;

	display: grid;
	grid-template-columns: repeat(auto-fill, 280px);
	grid-auto-flow: row;
	grid-gap: 20px;
	justify-content: center;

	margin: 0 auto 0 180px;
}
.producto{
	width: 250px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 1px 1px 12px 1px white;
	margin: 20px;

	position: relative;
}
/* .producto:hover{
	transition: width 1s, height 1s, transform 1s;
	transform: scale(1.05);
	box-shadow: 1px 1px 12px 1px #0000003c;
}
.producto:not(:hover){
	transition: width 1s, height 1s, transform 1s;
	transform: scale(1);
	box-shadow: 1px 1px 12px 1px white;
} */
.figuraProducto img{
	width: 200px;
	height: 250px;
	object-fit: cover;
	

}
.figuraProducto{
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

.botonComprar{
	
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .5s ease;
	opacity: 0;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}



/* .producto:hover .figuraProducto{
	opacity: 0.5;
}
.producto:hover .botonComprar{
	opacity: 1;
} */





.text{
	background: #4caf505c;
	color: #000000;
	border-radius: 5px;
	padding: 3px;
	margin: 3px auto;
	
}



.tituloProducto{
	font-size: 13px;
	font-weight: 700;
}
.precioProducto{
	font-size: 14px;
	margin: 3px auto;
}
.descripcionProducto{
	font-size: 11px;
	margin-bottom: 4px;
}


.carrito{
	height: 400px;
	width: 150px;
	position: absolute;
	top: 200px;
	left: 70px;
	background: #00000018;
	border-radius: 15px;
}
.divCarrito{
	display: flex;
	flex-direction: column;
	margin: 10px auto auto 10px;
	height: 100%;
	justify-content: center;
}
.productosCarrito{
	display: flex;
	flex-direction: column;
}
.figuraProductoCarrito{
	display: block;
}
.figuraProductoCarrito img{
	display: inline;
	width: 50px;
	border-radius: 10px;
}
.divCarrito h2{
	margin-bottom: 20px;
}
.spanTotal{
	margin-top: 10px;
}



		
					/*  ESTA PARTE ES DE NOSOTROS    */
.cuerpo{
	padding: 0 20px;
}
.figureNosotros{
	margin: 20px auto;
}
.figureNosotros img{
	width: 100%;
}
.cuerpo p{
	margin-top: 20px;
}
.descripcionNosotros{
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, auto));
	grid-auto-flow: row;
	grid-gap: 20px;
	justify-content: center;
}
.cajaNosotros{
	width: 0.33fr;
}

/*------------------------------------------------------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: right;
	width: 100%;
	/*background: linear-gradient(90deg, rgba(164,186,183,1) 0%, rgba(239, 242, 192,1) 29%, rgba(190, 165, 125,1) 100%);
	*/padding: 0 30px;
	height: 100%;
}
footer div{
	border: 2px solid #0000019c;
	border-radius: 5px;
	width: 100px;
	display: block;
}

/*------------------------------------------------------------*/

@media only screen and (max-width: 400px){
	.header navbar a{
		font-size: 20px;
	}
	main{
		display: flex;
		flex-direction: column;
	}
	.carrito{
		position: static;
		display: block;
		width: 100%;
		height: auto;
		border-radius: 0;
	}
	.productos{
		position: static;
		width: 100%;
		display: block;
		margin: 0 auto 30px;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 29%, rgba(249,249,249,1) 100%);
	}
	.producto{
		margin: 20px auto;
	}
}