*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
html{
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/*------------------------------------------------------------*/
header{
	display: flex;
	width: 100%;
	height: 40px;
	background: linear-gradient(90deg, rgba(164,186,183,1) 0%, rgba(210, 215, 223,1) 29%, rgba(215, 208, 217,1) 100%);
	align-items: center;
	justify-content: center;
}
a:hover{
	transition: width 1s, height 1s, transform 1s;
	transform: scale(1.1);
	font-weight: 500;
}
a:not(:hover){
	transition: width 1s, height 1s, transform 1s;
	transform: scale(1);
}
.menuNavbar{
	color: #0000019c;
	text-decoration: none;
	font-size: 25px;
	margin: 0 10px;
	font-weight: 700;
}

					/*  ESTA PARTE ES DE INDEX    */
.navbarInicioX{
	font-weight: 500;
}
					/*  ESTA PARTE ES DE PRODUCTOS    */
.navbarProductosX{
	font-weight: 500;
}
					/*  ESTA PARTE ES DE NOSOTROS    */
.navbarNosotrosX{
	font-weight: 500;
}

/*------------------------------------------------------------*/

main{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

	
					/*  ESTA PARTE ES DE PRODUCTOS    */
.productos{
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 29%, rgba(255,249,249,1) 100%);
	height: auto;

	display: grid;
	grid-template-columns: repeat(auto-fill, 280px);
	grid-auto-flow: row;
	grid-gap: 20px;
	justify-content: center;

	margin-left: 90px;
}
.producto{
	width: 250px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 1px 1px 12px 1px white;
	margin: 20px;
}
.producto:hover{
	transition: width 1s, height 1s, transform 1s;
	transform: scale(1.05);
	box-shadow: 1px 1px 12px 1px #0000003c;
}
.producto:not(:hover){
	transition: width 1s, height 1s, transform 1s;
	transform: scale(1);
	box-shadow: 1px 1px 12px 1px white;
}
.figuraProducto img{
	width: 200px;
	height: 250px;
	object-fit: cover;
}

.botonComprar{
	background: #4caf505c;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	padding: 3px;
	margin: 3px auto;
}

.tituloProducto{
	font-size: 13px;
	font-weight: 700;
}
.precioProducto{
	font-size: 14px;
	margin: 3px auto;
}
.descripcionProducto{
	font-size: 11px;
	margin-bottom: 4px;
}


.carrito{
	height: 400px;
	width: 150px;
	position: absolute;
	top: 200px;
	left: 10px;
	border: 1px solid #0000005c;
	border-radius: 15px;
}
.divCarrito{
	display: flex;
	flex-direction: column;
	margin: 10px auto auto 10px;
	height: 100%;
	justify-content: center;
}
.productosCarrito{
	display: flex;
	flex-direction: column;
}
.figuraProductoCarrito{
	display: block;
}
.figuraProductoCarrito img{
	display: inline;
	width: 50px;
	border-radius: 10px;
}
.divCarrito h2{
	margin-bottom: 20px;
}
.spanTotal{
	margin-top: 10px;
}



		
					/*  ESTA PARTE ES DE NOSOTROS    */
.cuerpo{
	padding: 0 20px;
}
.figureNosotros{
	margin: 20px auto;
}
.figureNosotros img{
	width: 100%;
}
.cuerpo p{
	margin-top: 20px;
}
.descripcionNosotros{
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, auto));
	grid-auto-flow: row;
	grid-gap: 20px;
	justify-content: center;
}
.cajaNosotros{
	width: 0.33fr;
}

/*------------------------------------------------------------*/

footer{
	display: flex;
	width: 100%;
	height: 40px;
	background: linear-gradient(90deg, rgba(164,186,183,1) 0%, rgba(239, 242, 192,1) 29%, rgba(190, 165, 125,1) 100%);
	align-items: center;
	justify-content: center;

}